* {
  margin: auto;
  padding: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*
a:link,
a:visited,
a:active {
  text-decoration: none;
}
*/

li {
  list-style: none;
}

nav {
  width: 100%;
  background-color: ghostwhite;
  position: fixed;
  box-shadow: 1px 5px 10px -3px #aaa;
  display: flex;
  justify-content: flex-end;
}

.navegador {
  width: 50%;
  height: 4rem;
  margin: 1em;
  font-size: 1em;
  display: flex;

  /*DEBE QUEDAR FIJO ARRIBA*/
}

.navegador p {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.nav1,
.nav2,
.nav3 {
  width: 10vw;
  height: 0.5em;
  margin: 1em;
  padding: 1em;
  color: gray;
}

.nav1:hover {
  color: #27193c;
}

.nav2:hover {
  color: #27193c;
}

.nav3:hover {
  color: #27193c;
}

.nav4 {
  width: 10vw;
  height: 0.5em;
  margin: 1em;
  padding: 1em;
  color: white;
  background-color: #593c72;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav4:hover {
  background-color: #8840c7;
}

/***************************
MAIN
****************************/

main {
  background-color: whitesmoke;
}

.contenedor {
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: white;
  box-shadow: inset 1px 10px 10px -3px rgba(170, 170, 170, 0.371);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hola h1 {
  margin-top: 1em;
  color: #27193c;
  font-size: 1em;
  font-weight: 800;
}

.AngiGP {
  margin-top: 0.5em;
  color: #66abd9;
  font-size: 40px;
  font-weight: 900;
}

section h3 {
  margin-top: 2em;
  color: rgb(21, 21, 73);
  font-size: 1em;
  font-weight: 300;
}

.boton {
  width: 10em;
  height: 0.5em;
  margin: 0;
  margin-top: 2em;
  padding: 1em;
  color: white;
  font-size: 1em;
  font-weight: 400;
  background-color: #593c72;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton:hover {
  background-color: #8840c7;
}

.foto1 {
  width: 20em;
  display: flex;
}

/*************************************
CONOCIMIENTOS
***************************************/

.contenedor2 {
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.Conocimientos h1,
.Proyectos h1 {
  font-size: 3em;
  font-weight: 850;
  color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Conocimientos p,
.Proyectos p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  line-height: 1.5em;
  font-size: 1em;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programas {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  /*SE ADAPTA AL TAMANO DE LA PAGINA, SI ES AL 100 SON 3 COLUMNAS, SI ES MAS CHICO SON 2, LAS CJAS MANTIENE SU TAMANO, LO MISMO CON LA SECTION MIS PROYECTOS*/
  width: 18vw;
  height: 16vw;
  margin: 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo:hover {
  border: 1px solid #8840c7;
  color: #593c72;
}

.programas h2 {
  font-size: 100%;
}

/**************************************
CITA
****************************************/

.cita {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #593c72;
}

.cita p {
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 10em;
  font-weight: 700;
  margin-bottom: -0.5em;
}

blockquote {
  padding: 2em;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  font-style: oblique;
}

.cita h2 {
  padding: 2em;
  color: white;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

/****************************************
PROYECTOS
*****************************************/

.Proyectos {
  width: 100%;
  height: auto;
  padding-top: 7rem;
  background-color: whitesmoke;
}

.contenedor3 {
  width: 80%;
  height: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.recuadro {
  width: 18vw;
  height: 16vw;
  margin: 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recuadro:hover {
  border: 1px solid #8840c7;
  color: #8840c7;
}

.contenedor3 a {
  color: darkslategray;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}


/****************************
CONTACTO
**********************************/
.contactame_escribime {
  width: 100%;
  background-color: gainsboro;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.contacto {
  width: 90%;
  height: auto;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ContactameEscribime {
  width: 100%;
  padding-top: 3rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.contactame {
  width: 50%;
  margin: 3em 0em 3em 3em;
}

.contactame h1 {
  font-size: 3em;
  font-weight: 850;
  padding-left: 1rem;
  color: cornflowerblue;
}

.contactame p {
  width: 80%;
  margin: 1rem;
  color: gray;
  font-size: 1em;
  line-height: 1.5em;
}

.enlaces_contactos {
  width: auto;
  padding-left: 1em;
}

.enlace{
  font-size: 1em;
  color: gray;
}

.enlace i {
  margin: 0.5em;
  padding: 0.5em;
  color: #27193c;
  background-color: #8fdbd1;
  border-radius: 10em;
}

.enlace:hover ,
.enlace:hover i {
  color: #ea5f5c;
}

/*********formulario**********/

.ContenedorEscribime {
  margin: 3em;
  font-size: 1em;
  color: gray;
}

.ContenedorEscribime h1 {
  font-size: 3em;
  font-weight: 850;
  color: cornflowerblue;
  margin-left: -1rem;
}

.formulario {
  margin-left: -3rem;
}

#Nombre,
#Apellido {
  font-size: 1em;
  color: gray;
  box-sizing: content-box;
  width: 100%;
  height: 8vh;
  border: none;
  background-color: whitesmoke;
  border-radius: 1em;
  display: flex;
  padding-left: 1em;
}

.Nombre,
.Apellido,
.E-Mail {
  margin: 1em;
}

#E-Mail {
  font-size: 1em;
  color: gray;
  box-sizing: content-box;
  width: 100%;
  height: 8vh;
  border: none;
  background-color: whitesmoke;
  border-radius: 1em;
  padding-left: 1em;
}

#Mensaje {
  margin: 1em;
  font-size: 1em;
  color: gray;
  box-sizing: content-box;
  width: 100%;
  height: 8vh;
  border: none;
  background-color: whitesmoke;
  border-radius: 1em;
  padding-left: 1em;
  /*ALGO ME ESTA CENTRANDO VERTICALMENTE EL TEXTO*/
}

.Mensaje {
  margin: 1em;
}

div input {
  margin: 1em;
}

div label {
  margin: 1em;
}

.NombreApellido {
  display: flex;
}

.enviar {
  width: 5em;
  height: 0.5em;
  margin: 1em;
  padding: 1em;
  font-weight: 600;
  color: white;
  background-color: #27193c;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color,box-shadow;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 3ms;
}

.enviar:hover {
  background-color: #8840c7;
  box-shadow: 1px 5px 5px 0px gainsboro;
}

/*************************
FOOTER
***************************/

footer {
  width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #593c72;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.enlaces {
  margin: 1em;
  display: flex;
}

.enlaces p {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.enlaces a {
  margin: 1em;
  color: white;
  display: flex;
}

.iconos i {
  margin: 0.5em;
  padding: 0.5em;
  color: #27193c;
  background-color: #8fdbd1;
  border-radius: 10em;
}

.iconos i:hover {
  color: #ea5f5c;
  border: 1px solid #ea5f5c;
  background-color: #593c72;
}

.mensaje_final {
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.mensaje_final span {
  font-size: 2em;
  color: #ea5f5c;
}

/**************************
RESPONSIVE*********************/

@media screen and (max-width: 480px) {
  .ContactameEscribime,
  .contenedor {
    flex-direction: column;
  }
  .NombreApellido {
    flex-direction: column;
  }
  .navegador {
    display: none;
  }
  .logo h2 {
    font-size: 80%;
  }

  .recuadro {
    width: 90vw;
    height: 70vw;
  }

  .recuadro p {
    font-size: 70%;
  }

  .contenedor3 {
    display: flex;
    justify-content: column;
  }
}



@media screen and (min-width: 481px) and (max-width: 800px) {

}
